<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        table {
          border-spacing: 30px;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <h2>Admin view connected to police database </h2>
<table style="width:100%">
    <tr>
        <form method="post" action="/table">
            <label for="table">Choose a table to view:</label>
            <select id="table" name="table">
                <option value="Equipment">Equipment</option>
                <option value="Prison">Prison</option>
                <option value="Suspect">Suspect</option>
                <option value="driver_licence">driver_licence</option>
                <option value="crime">crime</option>
                <option value="goverment_officer">goverment_officer</option>
                <option value="complaint">complaint</option>
                <option value="Locked_up">Locked_up</option>
                <option value="police_officer">police_officer</option>
                <option value="equipment_checkout">equipment_checkout</option>
                <option value="logs_suspect">logs_suspect</option>
                <option value="investigates">investigates</option>
                <option value="suspect_crime">suspect_crime</option>
                <option value="oversees">oversees</option>
                <option value="evidence">evidence</option>
                <option value="officer_evidence">officer_evidence</option>
                <option value="evidence_storage">evidence_storage</option>
                <option value="isa_detective">isa_detective</option>
                <option value="evidence_accesses">evidence_accesses</option>
                <option value="office_worker">office_worker</option>
                <option value="office_review">office_review</option>
                <option value="rookie">rookie</option>
              </select>
              <input type="submit">
        </form>
    </tr>
    <tr>
        
        <td><a href="/police_officer">List of police_officer</a></td>
        <td><a href="/driver_l">Driver Licence info in DB</a></td>
        <td><a href="/add_officer">Add new officer (Form Input)</a></td>
        
        
    </tr>
    <tr>
      
      <td><a href="/gov_officer">List of Goverment Officers deletetable</a></td>
      <td><a href="/gov_oversee">Gov Officer oversees</a></td>
      
    </tr>
    <tr>
      
      <td><a href="/complaints">List of  complains deletetable</a></td>
      <td><a href="/reviews">Officer review of complaints</a></td>
      
    </tr>

    <tr>
      
      <td><a href="/suspects">Update the suspects (Form input)</a></td>
      
    </tr>
    <tr>
      <td><a href="/select_officer">Select Officers</a></td>
      <td><a href="/select_prison">Select Prison</a></td>
      
    </tr>

    <tr>
      <td><a href="/projection_equipment">Project types of equipment</a></td>
      <td><a href="/projection_officer">Project Nick names of Officer</a></td>
      
    </tr>

    <tr>
      <td><a href="/join_query_1">Join locked up Supect name</a></td>
      <td><a href="/join_query_2">Join operation locked up birth date</a></td>
      
    </tr>

    <tr>
      <td><a href="/aggregation_1">aggreagate suspects locked up</a></td>
      <td><a href="/aggregation_2">aggreagate number of crime in db</a></td>
      <td><a href="/aggregation_3">aggreagate longest duration of supect in cell</a></td>
      
    </tr>

    <tr>
      <td><a href="/nested_aggregation_1">nested aggreagate locked up > min duration</a></td>
      <td><a href="/nested_aggregation_2">nested aggreagate locked up > avg duration</a></td>
      
    </tr>

    <tr>
      <td><a href="/division">Division Query</a></td>
      <td><a href="/division2">Divison Query 2</a></td>
    </tr>





</table>
    
</body>
</html>