<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        table {
          border-spacing: 30px;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <h2>Admin view connected to police database </h2>
<table style="width:100%">
    <tr>
        
        <td><a href="/police_officer">List of police_officer</a></td>
        <td><a href="/driver_l">Driver Licence info in DB</a></td>
        <td><a href="/add_officer">Add new officer (Form Input)</a></td>
        
        
    </tr>
    <tr>
      
      <td><a href="/gov_officer">List of Goverment Officers deletetable</a></td>
      <td><a href="/gov_oversee">Gov Officer oversees</a></td>
      
    </tr>
    <tr>
      
      <td><a href="/complaints">List of  complains deletetable</a></td>
      <td><a href="/reviews">Officer review of complaints</a></td>
      
    </tr>

    <tr>
      
      <td><a href="/suspects">Update the suspects (Form input)</a></td>
      
    </tr>
    <tr>
      <td><a href="/select_officer">Select Officers</a></td>
      <td><a href="/select_prison">Select Prison</a></td>
      
    </tr>

    <tr>
      <td><a href="/projection_equipment">Project types of equipment</a></td>
      <td><a href="/projection_officer">Project Nick names of Officer</a></td>
      
    </tr>

    <tr>
      <td><a href="/join_query_1">Join locked up Supect name</a></td>
      <td><a href="/join_query_2">Join operation locked up birth date</a></td>
      
    </tr>

    <tr>
      <td><a href="/aggregation_1">aggreagate suspects locked up</a></td>
      <td><a href="/aggregation_2">aggreagate number of crime in db</a></td>
      <td><a href="/aggregation_3">aggreagate longest duration of supect in cell</a></td>
      
    </tr>

    <tr>
      <td><a href="/nested_aggregation_1">nested aggreagate locked up > min duration</a></td>
      <td><a href="/nested_aggregation_2">nested aggreagate locked up > avg duration</a></td>
      
    </tr>

    <tr>
      <td><a href="/division">Division Query</a></td>
      
    </tr>





</table>
    
</body>
</html>